<div class="container" style=" width: 500px; position: relative;top: 20px;">

    <div class="col-12 text-center">
        <h1 class="title"> Post a job offer </h1>
  
    </div>
    <div class="col-12">
        <div [formGroup]="createForm" class="content">
            <div>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Position</mat-label>
                    <input matInput required formControlName="Position">
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 100%">
              
                    <mat-label>Due Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="DueDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>     
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Job Description </mat-label>
                    <textarea matInput required formControlName="Description">
                    </textarea>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Requirements</mat-label>
                    <input id="text" matInput required formControlName="Requirements"/>
                    <button class="btn margr" (click)="addItem()"><i class="bi bi-plus" style="font-size: 30px;"></i></button>
                </mat-form-field>

            </div>
            <mat-list style="margin-bottom: 30px;" role=" list">
                <mat-label *ngIf="this.requirements.length!=0">Requirements</mat-label>
                <div *ngFor="let item of requirements">
                  
                    <mat-list-item role="listitem">{{item}}</mat-list-item>
                </div>
            </mat-list>
            <div class="buttons">
                <button (click)="submitRequest()" class="btn btn-primary">
                    Post
                </button>
            </div>
        </div>
        <br>
    </div>
</div>