<div class="card">
    <div class="card-body">

        <div class="comment-widgets m-b-20">

            <div class="d-flex flex-row comment-row">
                <div class="p-2"><span class="round"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" 
                    width="50"></span>
                </div>
                <div class="comment-text w-100">
                    <h4><i>{{this.comment.userUsername}}</i></h4>
                    
                    <p style="font-size:medium;" class="m-b-5 m-t-10">{{this.comment.comment}}</p>
                </div>
        </div>

    </div>
</div>