<div class="container">
    <app-unauthenticated-header></app-unauthenticated-header>
    <router-outlet></router-outlet>
    <br><br>
    <mat-card>
        <mat-card-title>Recover password</mat-card-title>
        <br /><br />
        <mat-card-content>
            <div class="container" [formGroup]="createForm">
                <br />
                <div class="separateMe">
                    <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                            <mat-label> Username </mat-label>
                            <input matInput formControlName="Username" />
                            <mat-error *ngIf="
                                createForm?.get('Username')?.valid &&
                                createForm?.get('Username')?.touched &&
                                createForm?.get('Username')?.errors?.['required']
                                ">Username is required.
                            </mat-error>
                            <mat-error>Username must be more than 7 characters long </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                            <mat-label>Code</mat-label>
                            <input matInput formControlName="Code" />
                            <mat-error *ngIf="
                                createForm?.get('Code')?.valid &&
                                createForm?.get('Code')?.touched &&
                                createForm?.get('Code')?.errors?.['required']
                                ">Code is required.
                            </mat-error>
                            <mat-error>Invalid input</mat-error>
                        </mat-form-field>
                    </div>

                    <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="Password" (input)="onPasswordInput()" />
                            <mat-error *ngIf="
                                !createForm?.get('Password')?.valid &&
                                createForm?.get('Password')?.touched &&
                                createForm?.get('Password')?.errors?.['required'] 
                
                                ">Password is required
                            </mat-error>
                            <mat-error *ngIf="
                                !createForm?.get('Password')?.valid &&
                                createForm?.get('Password')?.touched &&
                                createForm?.get('Password')?.errors?.['minlength']
                                ">Password must be at least 8 characters long
                            </mat-error>
                        </mat-form-field>
                        
                    </div>
                    <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input type="Password" matInput formControlName="passConfirmed" (input)="onPasswordInput()" />
                            <mat-error *ngIf="
                                !createForm?.get('passConfirmed')?.valid &&
                                createForm?.get('passConfirmed')?.touched &&
                                createForm?.get('passConfirmed')?.errors?.['required']
                                ">Password is required
                            </mat-error>
                            <mat-error *ngIf="!passMatch">Passwords does not match! </mat-error>
                        </mat-form-field>
                    </div>
                    <button type="button" (click)="checkPwned()" mdbBtn color="light" mdbWavesEffect>Check if your password i pwned!</button>
                    <div  *ngIf="pwned==1" class="alert alert-success" role="alert">{{alertMessage}}</div>
                    <div  *ngIf="pwned==2" class="alert alert-warning" role="alert">{{alertMessage}}</div>
        
                    <br /><br />
                    <div>
                        <button mat-raised-button (click)="onSubmit()" style="color: white;
                             background: rgb(17, 16, 16)" class="icon-display">
                            ChangePassword
                        </button>
                    </div>
                </div>
                
            </div>           
        </mat-card-content>
    </mat-card>
    <br />
</div>