<div class="navbar-inner">
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
      <a class="navbar-brand ml-3" href="/"
        ><img
          src="../../assets/images/digital-key_3.png"
          style="height: 50px"
      /></a>
      <a class="navbar-brand ms-5 ml-3">P K I</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"
            routerLinkActive="active"
            routerLink="/allCertificates" >All Certificates</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/createCertificate" *ngIf="show">Generate Certificate</a>
            <a class="nav-link" routerLink="/createCertificateUser" *ngIf="!show">Generate Certificate</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/createSubject" >Generate Subject</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/certificate" >Certificate Model</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/chain" >Chain Certificate</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/createCertificateUser" *ngIf="!show">Generate Certificate By User</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>