<app-registered-header></app-registered-header>
  
  <main id="main" class="main">
  
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
  
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
  
              <img src="../../../assets/userMale.png" alt="Profile" class="rounded-circle">
              <h2>{{userDetails.firstName}} {{userDetails.lastName}}</h2>
              <!--<h3>Web Designer</h3>-->
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="col-xl-8">
  
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
  
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>
  
              </ul>
              <div class="tab-content pt-2">
  
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <app-overview-profile></app-overview-profile>
                </div>
  
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <app-profile-edit></app-profile-edit>
                </div>
  
                <div class="tab-pane fade pt-3" id="profile-settings">
                  <app-settings></app-settings>
                </div>
  
                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <app-change-password></app-change-password>  
                </div>
  
              </div><!-- End Bordered Tabs -->
  
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
