<div *ngFor="let item of items">
    <mat-card class="example-card m-3">
      <mat-card-title-group>
        <mat-card-title>{{item.companyName}}</mat-card-title>
        <mat-card-subtitle>{{item.headquarters}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div class="ml-3 info">
                <div class="row pr-3">
                  <label> Offices </label>
                  <label> Employees </label>
        
                  <label> Industry </label>
                </div>
  
          <div class="rowData pl-3" style="font-weight: bold;">
            <label> {{item.offices}}</label>
            <label> {{item.noOfEmpl}}</label>
  
            <label> {{item.industry}}</label>
          </div>
        </div>
        {{item.companyPolicy}}
      </mat-card-content>
      <button type="button" class="btn btn-success mybtn" (click)="approveRequest(item.companyId)">Approve</button>
      <button type="button" class="btn btn-danger mybtn" (click)="rejectRequest(item.companyId)">Reject</button>
      </mat-card>
      </div>