<div id = "framechat">
<div class="content">
    <div class="header">
        <i class="bi bi-chat"></i>
            <p>My chat with {{ receiver }}</p>
    </div>
    <div class="messages" #scrollMe [scrollTop]=" scrollMe.scrollHeight"  >
        <ul >
            <li *ngFor = " let msg of messages" [ngClass]="msg.SenderUsername===receiver ? 'sent' : 'replies' " >
                <img src="../../../assets/userMale.png" alt="" />
                <p autofocus> {{ msg.MessageText }} </p>
            </li>
        
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <form [formGroup]="form" (submit)="sendMessage()" >
                <input type="text" formControlName="msgText" placeholder="Write your message..."/>
                <button type="submit"><i class="bi bi-send"></i></button>
            </form>
        </div>
</div>
</div>