<header  class="landing-header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="../../../assets/logo.png" alt="">
        <span>dislinkt</span>
      </a>

    </div>
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" >
          <input type="search" name="searchText" [(ngModel)]="searchText" Placeholder="Search by first and last name...">
          <button ><i class="bi bi-search search-bar-toggle"></i></button>
        </form>
      </div>
 
<!-- mobile view - cannot fix it rn        
      <div class="header-signin ms-auto ">
        <a (click)="changeMeClass()" class="search-bar-toggle">
          <i class="bi bi-search"></i>
        </a>
      </div>  -->

    <div class="header-signin ms-auto ">
      <a class="getstarted" href='/login'>Sign in</a>
    </div>
  </header>

<main class="main">
  
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
  
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
  
              <img src="../../../assets/userMale.png" alt="Profile" class="rounded-circle">
              <h2>{{user?.firstName}} {{user?.lastName}}</h2>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="col-xl-8">
  
          <div class="card">
            <div class="card-body pt-3">
              <ul class="nav nav-tabs nav-tabs-bordered">
  
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li  *ngIf="user" class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-about">About</button>
                </li>

                <li   *ngIf="user" class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-posts">Posts</button>
                </li>
  
              </ul>
              <div class="tab-content pt-2">
  
                <div *ngIf="user" class="tab-pane fade show active profile-overview" id="profile-overview">
                    <app-overview-profile [user]="user"></app-overview-profile>
                </div>

                <div  *ngIf="user" class="tab-pane fade pt-3" id="profile-about">
                  <app-profile-about [user]="user"></app-profile-about>  
                </div>

                <div class="tab-pane fade pt-3" id="profile-posts">
                  <app-posts-view [username]="username" ></app-posts-view> 
                </div>

              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </section>
  
  </main>

