<!-- <div class="card">
               
    <div class="row">
        
        <div class="col-2">
            
            
            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
        
        
        </div>
        
        <div class="col-10">
            
            <div class="comment-box ml-2">
                
                <h4>{{this.salaryComment.userUsername}}</h4>
                
               
                <br/>
                <div class="comment-area">
                    <div>
                         <p style="font-size:large">Position: {{this.salaryComment.position}}</p>  
                         <p style="font-size:large">Salary: {{this.salaryComment.salary}}</p> 
                    </div>
                             
                </div>
                
            
            
            </div>
        
        </div>
    
    
    </div>

</div> -->

<div class="card">
    <div class="card-body">

        <div class="comment-widgets m-b-20">

            <div class="d-flex flex-row comment-row">
                <div class="p-2"><span class="round"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" 
                    width="50"></span>
                </div>
                <div class="comment-text w-100">
                    <h4><i>{{this.salaryComment.userUsername}}</i></h4>
                    
                    <p style="font-size:medium;" class="m-b-5 m-t-10">Position: <b>{{this.salaryComment.position}}</b></p>
                    <p style="font-size:medium;"  class="m-b-5 m-t-10">Salary: <b>{{this.salaryComment.salary}}</b></p>
                </div>
        </div>

    </div>
</div>

