<div class="card">
               
    <div class="row">
        
        <div class="col-2">
            
            
            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
        
        
        </div>
        
        <div class="col-10">
            
            <div class="comment-box ml-2">
                
                <h4>{{this.salaryComment.userUsername}}</h4>
                
               
                <br/>
                <div class="comment-area">
                    <div>
                         <p style="font-size:large">Position: {{this.salaryComment.position}}</p>  
                         <p style="font-size:large">Salary: {{this.salaryComment.salary}}</p> 
                    </div>
                             
                </div>
                
            
            
            </div>
        
        </div>
    
    
    </div>

</div>
