h1 {
    text-align: center;
    font-size: 30px;
  }
  
  mat-card-title {
    text-align: center;
    color: #0080ff;
  }
  
  p {
    color: black;
    font-weight: bold;
  }
  
  mat-tab {
    align-items: center;
  }
  
  .profilePhoto {
    height: 256px;
    width: 256px;
  }
  
  th {
    width: 300px;
  }
  
  tr {
    font-style: italic;
    height: 60px;
  }
  table {
    align-self: center;
  }
  .divider {
    width: 20px;
    height: auto;
    display: inline-block;
  }
  
  button #bozen {
    width: 210px;
  }
  