<app-unauthenticated-header></app-unauthenticated-header>
<router-outlet></router-outlet>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form [formGroup]="aFormGroup" (ngSubmit)="onSubmit()" style="margin-top: 10px;">
            <div class="form-group">
                <input type="text" formControlName="username" placeholder="Enter username" class="form-control">
                <input type="password" formControlName="password" placeholder="Enter password" style="margin-top: 10px;"
                    class="form-control">
            </div>
            <div class="content">
                <div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Login
                        <i class="fas fa-sign-in-alt"></i></button>

                </div>
                <div class="links">
                    <div>
                        <a href="https://localhost:4200/recoverRequest">Forgot your password?</a>
                    </div>
                    <div>
                        <a href="https://localhost:4200/activate">Activate your account!</a>
                    </div>
                    <div>
                        <a href="https://localhost:4200/passwordlessReq">Passwordless login!</a>
                    </div>
                </div>
            </div>

            <div style="margin-top: 10px;">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                </ngx-recaptcha2>
            </div>
        </form>
    </div>
</div>