<div class="card">
               
    <div class="row">
        
        <div class="col-2">
            
            
            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
        
        
        </div>
        
        <div class="col-10">
            
            <div class="comment-box ml-2">
                
                <h4>{{this.interview.userUsername}}</h4>
                <!-- <ngb-rating [max]="5" [(rate)]="interview.rating" [readonly]="true" ></ngb-rating> -->
                
                <div class="comment-area">
                    
                    <textarea readonly class="form-control"  rows="6">{{this.interview.comment}}</textarea>
                
                </div>
                <br/>
                <div class="comment-area">
                    <div>
                         <p style="font-size:large">Difficulty: {{this.interview.difficulty}}</p>  
                         <p style="font-size:large">Rating: {{this.interview.rating}}</p> 
                    </div>
                             
                </div>
                
            
            
            </div>
        
        </div>
    
    
    </div>

</div>
