<div class="container" style="  position: relative;top: 20px;">

    <div class="col-12 text-center">
        <h3> Create job offer </h3>
        <hr />
    </div>
    <div class="col-12">
        <div [formGroup]="createForm" class="content">
            <div>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Name</mat-label>
                    <input id="text" matInput required formControlName="Name">
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Requirements</mat-label>
                    <input id="text" matInput required formControlName="Requirements">
                </mat-form-field>

            </div>
            <mat-list style="margin-bottom: 30px;" role=" list">
                <mat-label *ngIf="this.requirements.length!=0">Requirements</mat-label>
                <div *ngFor="let item of requirements">
                  
                    <mat-list-item role="listitem">{{item}}</mat-list-item>
                </div>
            </mat-list>
            <div class="buttons">
                <input type="image" src="./../../../assets/add.png" style="height:32px;width:32px;" class="mr-3"
                    (click)="addItem()" />
                <button id="submitRequest" (click)="submitRequest()" class="btn btn-success text-center">
                    Create
                </button>
            </div>
        </div>
        <br>
    </div>
</div>