<div class="container">
    <div class="col-12 text-center">
      <h1 style="color: #0275d8">Reset password</h1>
    </div>
    <div class="col-12">
      <hr style="color: #0275d8" />
      <form id="fbForm" style="font-size: large">
        <div
          class="row"
          style="
            background-color: rgba(13, 110, 151, 0.103);
            box-shadow: 4px 4px 4px rgba(2, 117, 216, 0.17);
          "
        >
          You received a code for password reset on your recovery email. Once we
          confirm it, you will be able to enter a new password.
        </div>
        <hr style="color: #0275d8" />
        <div class="row">
          Enter your 6-digit code here:
          <input type="text" name="code" [(ngModel)]="kodic" />
          <button (click)="verify()">Verify</button>
        </div>
        <hr />
        <div [style.visibility]="divVisible ? 'visible' : 'hidden'">
          <br />
          <p>
            Yaaaaaaaaay! Now you can enter your new password. Make sure it's a
            strong one - at least one uppercase letter, one lowercase letter, one
            number and one special character. It cannot be less than 10 characters
            long!
          </p>
          <div [formGroup]="createForm" style="width: 100%; display: flex">
            <form [formGroup]="createForm">
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  (input)="onPasswordInput()"
                />
                <mat-error
                  *ngIf="
                    !createForm?.get('password')?.valid &&
                    createForm?.get('password')?.touched &&
                    createForm?.get('password')?.errors?.required
                  "
                  >Password is required</mat-error
                >
                <mat-error
                  *ngIf="
                    !createForm?.get('password')?.valid &&
                    createForm?.get('password')?.touched &&
                    createForm?.get('password')?.errors?.pattern
                  "
                  >Password is not strong enough!</mat-error
                >
                <mat-error
                  *ngIf="
                    !createForm?.get('password')?.valid &&
                    createForm?.get('password')?.touched &&
                    createForm?.get('password')?.errors?.minlength
                  "
                  >10 characters please!</mat-error
                > </mat-form-field
              ><br /><br />
              <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input
                  type="password"
                  matInput
                  formControlName="passConfirmed"
                  (input)="onPasswordInput()"
                />
                <mat-error
                  *ngIf="
                    !createForm?.get('passConfirmed')?.valid &&
                    createForm?.get('passConfirmed')?.touched &&
                    createForm?.get('passConfirmed')?.errors?.required
                  "
                  >Password is required</mat-error
                >
                <mat-error *ngIf="!passMatch"
                  >Passwords does not match!
                </mat-error>
              </mat-form-field>
              <div>
                <button
                  mat-raised-button
                  (click)="onSubmit()"
                  color="accent"
                  class="icon-display"
                >
                  Change password
                </button>
              </div>
            </form>
            <hr />
          </div>
        </div>
      </form>
    </div>
  </div>
  
