<div class="center">
    <div class="mainDiv">
        <div class="borderDiv">
        <div class="information">
            <div class="sectionOne">
                <img src="../../../assets/images/award.png" style="height: 35px; width: 35px; margin-right: 10px;">
                <p class="text1" > Certificate information</p>
                
            </div>
            <hr>
            <div class="sectionTwo">
                <p class="smallTextBold"> This certificate is intended for the following purpuse (s):</p>
                <li class="smallText">
                    Ensures the identity of a remote computer 
                </li>
                <li class="smallText">
                    Proves your identity to a remote computer
                </li>
               
                <li class="smallText">
                    Nzm sta je ovo : 2.23.140.1.2.2
                </li>
                <br><br>
                <p class="smallText">*Refer to the certification authority's statement for details.</p>               
            </div>
            <hr>
            <div class="sectionThree">
                <div style="display: flex; justify-content:center;">
                    <p class="smallTextBold" style="margin-right:5px;">Issued to :</p>
                    <p class="smallText">{{items.name}}</p>
                  </div>
                  <div style="display: flex; justify-content: center;">
                    <p class="smallTextBold" style="margin-right:5px;">Issued by :</p>
                    <p class="smallText">Donec eget luctus lacus.</p>
                  </div>
                  <div style="display: flex; justify-content: center;">
                    <p class="smallTextBold"style="margin-right:5px;" >Valid from:</p>
                    <p class="smallText">12/12/2021</p>
                    <p class="smallTextBold" style="margin:0px 5px;">to:</p>
                    <p class="smallText">12/13/2022</p>
                  </div>
             </div>
        </div>
    </div>
    </div>
</div>