.center {
    display: flex;
    justify-content: center;
}
.mainDiv {
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: white;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.6) ;
    padding:  15px 15px 60px 15px; /*gore desno dole lijevo*/
}
.sectionOne {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    
}
.text1{
    font-size: medium;
    font-weight:bolder; 
    align-self:flex-end;
}
.smallTextBold {
    font-size: small;
    font-weight:900;
}
.smallText {
    font-size: small;
}
.borderDiv{
    box-shadow: rgb(15, 15, 15) 3px 3px 6px 0px inset, rgba(75, 72, 72, 0.5) -3px -3px 6px 1px inset;
    padding: 10px 30px 30px 30px ;
}