
   <header class="landing-header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="../../../assets/logo.png" alt="">
        <span>dislinkt</span>
      </a>

      <nav [className]="mobNav">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Discover</a></li>
          <li><a class="nav-link scrollto" href="#services">People</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Jobs</a></li>
          <div class="vl"><span></span></div>
          <li><a class="getstarted scrollto" href="#about">Sign in</a></li>
        </ul>
        <i [className]="mobNavIcon" (click)="changeClass()"></i>
      </nav>

    </div>
  </header>