.icon-display {
    transform: scale(2);
}

.container {
    width: 400px;
    height: 550px;
    margin: 10px;

}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.group {
    display: flex;

}
.pink{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
    color: palevioletred; 
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    cursor: pointer;
    color: palevioletred;
    border-color: transparent;
    border-radius: 0px;
    font-size: 30px;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.border {
    margin-right: 10px;
    border-color: transparent;
}
.links {
    display: flex;
    margin-top: 20px;
}
.links p {
    margin-right: 5px;
}
.links a {
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.actions {
    display: flex;
    justify-content: space-between;
}

.image {
    overflow: hidden;
}

.broken :hover{
    color:palevioletred
}

.liked {
    color: red;
}
.disliked {
    color: red;
}
.reactions {
    display: flex;
    overflow: hidden;
}
.reactions p {
    margin-bottom: 0px;
    font-size: small;
    border-right: 5px;
}
.decription {
    margin-top: 5px;
    height: 100px;
    width: 100%;
    overflow-x: scroll; /* For horiz. scroll, otherwise overflow-y: scroll; */
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
.decription::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}