<div class="container" style="  position: relative;top: 20px;">
    <h2 mat-dialog-title>Change Password</h2>
  
    <form class="form" [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Current Password</mat-label>
        <input  type="password" matInput (input)="onPasswordInput()" formControlName="currentPassword" />
        <mat-error
        *ngIf="
          !form?.get('currentPassword')?.valid &&
          form?.get('currentPassword')?.touched &&
          form?.get('currentPassword')?.errors?.required 

        "
        >Password is required</mat-error
      >
      <mat-error
          *ngIf="
            !form?.get('currentPassword')?.valid &&
            form?.get('currentPassword')?.touched &&
            form?.get('currentPassword')?.errors?.pattern
          "
          >Password is not strong enough!</mat-error
        >
        <mat-error
          *ngIf="
            !form?.get('currentPassword')?.valid &&
            form?.get('currentPassword')?.touched &&
            form?.get('currentPassword')?.errors?.minlength
          "
          >10 characters please!</mat-error
      >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>New Password</mat-label>
        <input matInput type="password" (input)="onPasswordInput()" formControlName="newPassword" />
        <mat-error
        *ngIf="
          !form?.get('newPassword')?.valid &&
          form?.get('newPassword')?.touched &&
          form?.get('newPassword')?.errors?.required 

        "
        >Password is required</mat-error
      >
      <mat-error
          *ngIf="
            !form?.get('newPassword')?.valid &&
            form?.get('newPassword')?.touched &&
            form?.get('newPassword')?.errors?.pattern
          "
          >Password is not strong enough!</mat-error
        >
        <mat-error
          *ngIf="
            !form?.get('newPassword')?.valid &&
            form?.get('newPassword')?.touched &&
            form?.get('newPassword')?.errors?.minlength
          "
          >10 characters please!</mat-error
      >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Repeat new password</mat-label>
        <input matInput type="password" (input)="onPasswordInput()"  formControlName="repeatedPassword" />      
      <mat-error *ngIf="!passMatch">Passwords does not match! </mat-error>
      </mat-form-field>
    </form>
    <div class="button-container">
      <button class="btn btn-success text-center" (click)="submit()">Submit</button>
    </div>
  </div>
