.displaySection {
    margin-left: 20px;
    margin-right: 20px;
}
.sectionOverflow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: flex-start; */
    
}