<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <a href="/" class="logo d-flex align-items-center">
    <img src="../../../assets/logo.png" alt="">
    <span>dislinkt</span>
  </a>
  
    <div class="search-bar">
      <form class="search-form d-flex align-items-center">
        <input type="search" placeholder="Search"  (input)="emitMe($event)">
        <button ><i class="bi bi-search search-bar-toggle"></i></button>

      </form>
    </div>
  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
  
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>

        <li class="nav-item">
  
          <a class="nav-link nav-icon" [routerLink]="['/jobOffers']">
            <i class="bi bi-briefcase"></i>
          </a>
          </li>

          <li class="nav-item">
  
            <a class="nav-link nav-icon" [routerLink]="['/network']">
              <i class="bi bi-people"></i>
            </a>
            </li>
  
        <li class="nav-item dropdown" ngbDropdown>
  
          <a class="nav-link nav-icon" id="notiDD" ngbDropdownToggle>
            <i class="bi bi-bell"></i>
            <span *ngIf="newNoties" class="badge bg-primary badge-number"> {{ newNoties }} </span>
          </a>
  
          <ul ngbDropdownMenu aria-labelledby="notiDD" c class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
           <app-notification-list (newNotifications)="onNewNotifications($event)"></app-notification-list>
          </ul>
  
        </li>
  
        <li ngbDropdown class="nav-item dropdown">
  
          <a class="nav-link nav-icon" id="messDD" ngbDropdownToggle>
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a>
  
          <ul ngbDropdownMenu aria-labelledby="messDD" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a>
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
  
          </ul>
  
        </li>
  
        <li class="nav-item dropdown pe-3">

          <div ngbDropdown class="d-inline-block">
            <a type="button" class="nav-link nav-profile d-flex align-items-center pe-0" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../../assets/userMale.png" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block">{{username}}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item d-flex align-items-center" (click)="showProfile()">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </button>
              <button class="dropdown-item d-flex align-items-center" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </button>
            </div>
          </div>
  
        </li>
  
      </ul>
    </nav>
  
  </header>
