<div>
    <li class="dropdown-header">
       {{noOfNotReadNot ? ('You have ' + noOfNotReadNot  + ' new notifications') : 'No new notifications' }} 
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <div *ngFor = "let noti of notifications" >
        <li class="notification-item">
          <app-notification [noti]="noti" (notiRead)="markNotiAsRead($event)"></app-notification>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </div>
</div>