<mat-card class="example-card m-5 container">
    <div>
        <div class="userInfo">
            <div class="group">
                <mat-icon class="icon-display" aria-hidden="false" style="margin-right: 10px;"> account_circle
                </mat-icon>
                <h2>Username</h2>
            </div>
            <h3>Date posted</h3>
        </div>
        <div class="image">
            <picture *ngIf="defaultImg">
                <source media='(min-width:0px)' srcset="./../../../assets/template.jpg">
                <img mat-card-image src="" alt="Photo of a Shiba Inu">
            </picture>
            <img [src]="imageSrc" *ngIf=imageSrc style="height: auto; width: 500px;">
            <form [formGroup]="myForm" (ngSubmit)="submit()">

                <div class="form-group">
                    <input formControlName="file" id="file" type="file" class="form-control"
                        (change)="onFileChange($event)">
                </div>
            </form>
        </div>

        <div class="decription">
            <mat-card>
                <textarea style="width: 100%; border-color: transparent; " placeholder="Write your description ..."
                    matInput></textarea>
            </mat-card>

        </div>
        <div class="links" [formGroup]="createForm">
            <div class="linkGroup">
                <p style="margin-left: 5px;">Add links: </p>
                <input id="text" matInput required formControlName="Links">
                <input type="image" class="plus" src="./../../../assets/add.png" (click)="addItem()" />
            </div>


            <div class="hrefs">
                <div style="width: 100%; height:100%;display: flex; flex-wrap: wrap;  overflow: hidden"
                    *ngFor="let item of links">
                    <a href="item">{{item}}</a>
                </div>
            </div>

        </div>

        <div class="bbuton">
            <button mat-flat-button color="primary">
                <mat-icon>check_circle</mat-icon>
            </button>
        </div>
    </div>
</mat-card>