<div class="header">
    <app-auth-header></app-auth-header>
    <router-outlet></router-outlet>
</div>

<div class="container">
    <mat-card class="example-card m-3">
        <mat-card-title-group>
            <mat-card-title>{{company.companyName}}</mat-card-title>
            <mat-card-subtitle>{{company.headquarters}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div class="ml-3 info">
                <div class="row pr-3">
                    <label> Offices </label>
                    <label> Employees </label>
                    <label> Industry </label>
                    <label> Web site </label>
                    <label> Founded </label>
                    <label> Country of origin </label>
                </div>

                <div class="rowData pl-3" style="font-weight: bold;">
                    <label> {{company.offices}}</label>
                    <label> {{company.noOfEmpl}}</label>
                    <label> {{company.industry}}</label>
                    <label><a href="{{company.companyWebsite}}"> {{company.companyWebsite}}</a></label>
                    <label> {{company.founded}}</label>
                    <label> {{company.countryOfOrigin}}</label>
                </div>
            </div>
            <div class="description_form">
                <textarea [readonly]="!editable" class=" description editable" [(ngModel)]="company.companyPolicy">
                </textarea>
            </div>

        </mat-card-content>
        <button type="button" *ngIf="!editable" class="btn btn-success mybtn" (click)="enableEdit()">Edit</button>
        <button type="button" *ngIf="editable" class="btn btn-primary mybtn" (click)="updateInfo()">Save</button>
        <button type="button" class="btn btn-primary ml-3 mybtn" (click)="openModal()">Create job offer</button>
    </mat-card>
    <mat-card class="example-card m-3">
        <mat-tab-group>
            <mat-tab label="Comments">
                <div *ngFor="let com of comments">
                    <app-comment [comment]="com"></app-comment>
                </div>
            </mat-tab>
            <mat-tab label="Job Offers">
                <div *ngFor="let offer of jobOffer">
                    <app-job-offer-list-view [jobOffer]="offer"></app-job-offer-list-view>
                </div>
            </mat-tab>
            <mat-tab label="Interviews">
                <div *ngFor="let inte of interviews">
                    <app-interview [interview]="inte"></app-interview>
                </div>
            </mat-tab>
            <mat-tab label="Sallares">
                <div *ngFor="let come of salaryComments">
                    <app-salary-comment [salaryComment]="come"></app-salary-comment>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>


</div>