
.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error {
    color: red;
  }
  
  .form {
    width: 100%;
  }
  
  input {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
  }
  .button-holder {
    padding-top: 15px;
    text-align: center;
  }
  .button-container {
    display: flex;
    margin: 10px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  