<div class="container">
    <h2 mat-dialog-title>Change Password</h2>
  
    <form class="form" [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" (input)="onPasswordInput()" placeholder="Current Password" formControlName="currentPassword" />
        <mat-error
        *ngIf="
          !form?.get('password')?.valid &&
          form?.get('password')?.touched &&
          form?.get('password')?.errors?.required 

        "
        >Password is required</mat-error
      >
      <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.pattern
          "
          >Password is not strong enough!</mat-error
        >
        <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.minlength
          "
          >10 characters please!</mat-error
      >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>New Password</mat-label>
        <input matInput type="password" (input)="onPasswordInput()" placeholder="New Password" formControlName="newPassword" />
        <mat-error
        *ngIf="
          !form?.get('password')?.valid &&
          form?.get('password')?.touched &&
          form?.get('password')?.errors?.required 

        "
        >Password is required</mat-error
      >
      <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.pattern
          "
          >Password is not strong enough!</mat-error
        >
        <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.minlength
          "
          >10 characters please!</mat-error
      >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Repeat new password</mat-label>
        <input matInput type="password" (input)="onPasswordInput()" placeholder="Repeat new password" formControlName="repeatedPassword" />
        <mat-error
        *ngIf="
          !form?.get('password')?.valid &&
          form?.get('password')?.touched &&
          form?.get('password')?.errors?.required 

        "
        >Password is required</mat-error
      >
      <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.pattern
          "
          >Password is not strong enough!</mat-error
        >
        <mat-error
          *ngIf="
            !form?.get('password')?.valid &&
            form?.get('password')?.touched &&
            form?.get('password')?.errors?.minlength
          "
          >10 characters please!</mat-error
      >
      <mat-error *ngIf="!passMatch">Passwords does not match! </mat-error>
      </mat-form-field>
    </form>
    <div class="button-container">
      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </div>
  </div>