   <main class="hero">
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img class="logo" src="../../../assets/logo.png" alt="">
                  <span class="d-none d-lg-block dislinkt">dislinkt</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 container"  [formGroup]="createForm">
                    
                    <div class="separateMe">
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label> Username </mat-label>
                          <input matInput formControlName="Username" />
                          <mat-error *ngIf="
                              createForm?.get('Username')?.valid &&
                              createForm?.get('Username')?.touched &&
                              createForm?.get('Username')?.errors?.['required']
                            ">Username is required.</mat-error>
                          <mat-error>Username must be more than 7 characters long </mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>First name</mat-label>
                          <input matInput formControlName="FirstName" />
                          <mat-error *ngIf="
                                  createForm?.get('FirstName')?.valid &&
                                  createForm?.get('FirstName')?.touched &&
                                  createForm?.get('FirstName')?.errors?.['required']
                                ">FirstName is required.</mat-error>
                          <mat-error>Invalid input</mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Last name</mat-label>
                          <input matInput formControlName="LastName" />
                          <mat-error *ngIf="
                                  !createForm?.get('LastName')?.valid &&
                                  createForm?.get('LastName')?.touched &&
                                  createForm?.get('LastName')?.errors?.['required']
                                ">LastName is required</mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-radio-group class = "radio-buttons" formControlName="Gender">
                          <mat-label>Gender *</mat-label>
                          <br>
                          <mat-radio-button color="primary" class="options" value="FEMALE">Female</mat-radio-button>
                          <mat-radio-button  color="primary" class="options" value="MALE">Male</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Phone number</mat-label>
                          <input matInput formControlName="PhoneNumber" />
                          <mat-error *ngIf="
                                !createForm?.get('PhoneNumber')?.valid &&
                                createForm?.get('PhoneNumber')?.touched &&
                                createForm?.get('PhoneNumber')?.errors?.['required']
                              ">PhoneNumber is required</mat-error>
                        </mat-form-field>
                      </div>
              
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="Email" />
                          <mat-error *ngIf="
                                !createForm?.get('Email')?.valid &&
                                createForm?.get('Email')?.touched &&
                                createForm?.get('Email')?.errors?.['required']
                              ">Email is required</mat-error>
                          <mat-error *ngIf="
                                !createForm?.get('Email')?.valid &&
                                createForm?.get('Email')?.touched &&
                                createForm?.get('Email')?.errors?.['email']
                              ">Invalid email!</mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Date of birth</mat-label>
                          <input matInput  formControlName="DateOfBirth" [matDatepicker]="picker">
                          <mat-hint>MM/DD/YYYY</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Recovery email address</mat-label>
                          <input matInput formControlName="RecoveryEmail" />
                          <mat-error *ngIf="
                                    !createForm?.get('Email')?.valid &&
                                    createForm?.get('Email')?.touched &&
                                    createForm?.get('Email')?.errors?.['required']
                                  ">Recovery mail is required</mat-error>
                          <mat-error *ngIf="
                                    !createForm?.get('Email')?.valid &&
                                    createForm?.get('Email')?.touched &&
                                    createForm?.get('Email')?.errors?.['email']
                                  ">Invalid email!</mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Password</mat-label>
                          <input matInput type="password" formControlName="Password" (input)="onPasswordInput()" />
                          <mat-error *ngIf="
                              !createForm?.get('Password')?.valid &&
                              createForm?.get('Password')?.touched &&
                              createForm?.get('Password')?.errors?.['required'] 
              
                            ">Password is required</mat-error>
                          <mat-error *ngIf="
                              !createForm?.get('Password')?.valid &&
                              createForm?.get('Password')?.touched &&
                              createForm?.get('Password')?.errors?.['minlength']
                            ">Password must be at least 8 characters long</mat-error>
                        </mat-form-field>
                      </div>
                      <div style="width: 100%; display: flex">
                        <mat-form-field appearance="fill">
                          <mat-label>Confirm password</mat-label>
                          <input type="Password" matInput formControlName="passConfirmed" (input)="onPasswordInput()" />
                          <mat-error *ngIf="
                              !createForm?.get('passConfirmed')?.valid &&
                              createForm?.get('passConfirmed')?.touched &&
                              createForm?.get('passConfirmed')?.errors?.['required']
                            ">Password is required</mat-error>
                          <mat-error *ngIf="!passMatch">Passwords does not match! </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                      
                  
                    <div class="col-12">
                      <button class="btn btn-primary w-100" (click)="onSubmit()">Create account</button>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                      <p class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
