<div class="container" class="image">

    <app-auth-header></app-auth-header>
    <router-outlet></router-outlet>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2 class="ml-3">My profile</h2>
    <label class="ml-3">
        Ove podatke čuvamo samo u svrhu prijave za posao.
        Prilikom ostavljanja utisaka, anonimnost je zagarantovana.
    </label>
    <div class="main">
        <mat-card class="profile ml-3">

            <img src="../../../assets/user.png" height="300px" width="300px">

            <div class="row">
                <label>Username: </label>
                <label>First Name: </label>
                <label>Last name: </label>
                <label>Last name: </label>
                <label>Email: </label>

            </div>
            <div class="rowData">
                <label> Mike</label>
                <label> Mike</label>
                <label> Mike</label>
                <label> Mike</label>
                <label> Mike</label>
            </div>
        </mat-card>
        <div class="buttons mr-5">
            <button type="button" class="btn btn-success mybtn ">Registruj kompanijski profil</button>
        </div>

    </div>
</div>