  <section class="hero d-flex align-items-center">
    <div class="container">
      <div class = "gap-components">
        <app-unauthenticated-header></app-unauthenticated-header>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Make the most of your professional life</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Connect with friends, co-workers and the world around you on Dislinkt.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <p><a href="" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Join us now</span>
                <i class="bi bi-arrow-right"></i>
              </a></p>
              <p>
                <a href="" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Search for a job</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
              </p>
             <p> <a href="" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Find people you know</span>
                <i class="bi bi-arrow-right"></i>
              </a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../../../assets/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>