.image{
    height:-webkit-fill-available; 
    background-size:cover;
    width:auto;
    /* background-image:url("../../../assets/wallpaper.jpg"); */
    background-position:10% 10%;
    background-position: fill;
  }
  /* .image{
    background-image:    url("../../../assets/wallpaper.jpg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image *
} */